.question-wrap {
  border-radius: 3px;
  box-shadow: 0 1px 2px #bebebe;
}
.question-item {
  width: 710px;
  padding: 40px 20px 10px;
  background: #fff;
  .que-tag {
    .tag {
      height: 28px;
      padding: 15px 20px;
      border-radius: 28px;
      margin: 0 10px;
      background: #EEF5F8;
      color: #2186E0;
      font-size: 28px;
      vertical-align: middle;
    }
  }
  .que-title {
    padding: 40px 20px 30px;
    font-size: 38px;
  }
  .que-content {
    padding: 0 20px;
    font-size: 26px;
  }
  .que-follow {
    margin: 20px;
    height: 68px;
    view, div, span {
      display: inline-block;
      margin-right: 40px;
    }
    .left {
      float: left;
      padding: 10px 0;
      text, div, span {
        color: #afafaf;
        height: 50px;
        vertical-align: middle;
        padding: 18px 0;
        font-size: 24px;
      }
      .iconfont {
        font-size: 40px;
        color: #bababa;
        margin-right: 20px;
      }
    }
    .right {
      float: right;
      padding: 20px 55px;
      color:#fff;
      background: #52C980;
      // border-radius: 26px;
      font-size: 26px;
      margin: 0;
    }
  }
}
.que-operate {
  width: 750px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  color: #889091;
  vertical-align: middle;
  background: #fff;
  .flex-item {
    padding: 20px 0;
    font-size: 26px;
    .iconfont {
      font-size: 40px;
      color: #bababa;
      margin-right: 20px;
    }
  }
  .invite {
    border-right: 2px solid #ebebeb;
  }
}
